<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.splineyellow.quizgame" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Quizgamestyle" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.splineyellow.quizgame.MainActivity" />
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name=".StartGameActivity"
            android:label="@string/title_activity_start_game"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name=".ListGamesActivity"
            android:label="@string/title_activity_list_games"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name=".ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:parentActivityName=".MenuActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:parentActivityName=".StartGameActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartGameActivity" />
        </activity>
        <activity
            android:name=".ScoreActivity"
            android:label="@string/title_activity_score"
            android:parentActivityName=".QuestionActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.splineyellow.quizgame.QuestionActivity" />
        </activity>
        <activity
            android:name=".EndGameActivity"
            android:label="@string/title_activity_end_game"
            android:parentActivityName=".StartGameActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.splineyellow.quizgame.StartGameActivity" />
        </activity>
    </application>

</manifest>
