<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.splineyellow.quizgame" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Quizgamestyle" >
        <activity
            android:name="it.splineyellow.quizgame.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName="it.splineyellow.quizgame.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.splineyellow.quizgame.MainActivity" />
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:parentActivityName="it.splineyellow.quizgame.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.StartGameActivity"
            android:label="@string/title_activity_start_game"
            android:parentActivityName="it.splineyellow.quizgame.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.ListGamesActivity"
            android:label="@string/title_activity_list_games"
            android:parentActivityName="it.splineyellow.quizgame.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.ConnectionActivity"
            android:label="@string/title_activity_connection"
            android:parentActivityName="it.splineyellow.quizgame.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MenuActivity" />
        </activity>
        <activity
            android:name="it.splineyellow.quizgame.QuestionActivity"
            android:label="@string/title_activity_question"
            android:parentActivityName="it.splineyellow.quizgame.StartGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="StartGameActivity" />
        </activity>
    </application>

</manifest>
